nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  // margin: 0 20px 0 20px;

  .logoimg {
    display: flex;
    align-items: center;
    margin-left: 20px;
    img {
      width: 260px;
      height: 47.31px;
      // top: 30px;
      // left: 30px;
    }
  }
  .linksinnav {
    align-items: center;
    display: flex;
  }ul {
    list-style: none;
    display: flex;
    
    margin: 20px 0;
}

.linksinnav li {
    margin-right: 20px;
}
  .hamburger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: absolute;
    background-color:#F68C42;
    right: 5px;
    top: 30px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: orange;
    margin: 5px 0;
    border-radius: 30px;
}

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    
  }

  li {
    font-family: $mainFont;
    margin: 18px 20px;
    

    a {
      color: #353766;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      align-items: center;
      &:hover {
        color: orange;
        font-weight: bolder;
        text-decoration: underline;
      }
    }
  }
  .button {
    display: flex;
    align-items: center;
    margin-right: 20px;

    button {
      // width: 140px;
      padding: 0 25px;
      height: 50px;
      border-radius: 40px;
      background-color: orange;
      color: white;
      border: none;
      font-size: 17px;
      font-weight: 300;
      &:hover {
        background-color: rgb(206, 143, 26);
        cursor: pointer;
      }
    }
  }
}

.frame1 {
  // margin: 0;

  // width: 1366 px;
  .banner {
    height: 100vh;
    background-image: url(../images/Rectangle\ 23.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
  }

  .companyname h1 {
    text-align: center;
    font-family: $mainFont;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 6px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #7074e7 0.16%, #5dbce9 101.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    // letter-spacing: 10%;
  }

  .imgholder {
    display: flex;
    justify-content: center;
    align-items: center;
    .bannerimg {
      // margin-top: 140px;
    }
  }
  .companymotto h2 {
    color: #fff;
    margin: 0;
    text-align: center;
    font-family: $mainFont;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px; /* 116.667% */
    text-transform: capitalize;
  }
}
.desc {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  position: absolute;
  bottom: -250px;
  padding: 50px;
  box-shadow: 0px 20px 40px 0px rgba(57, 61, 153, 0.06);
  word-wrap: break-word;
  overflow: hidden;

  // bottom: 90px;

  // margin: 40px;
}

.desc p {
  // background-color: #7074e7;
  // padding: 30px;
  color: #1e1e1e;
  max-height: 280px;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 42px;
}

.frame2 {
  background-color: #f8fdff;
}
.clients {
  margin-top: 335px;
  text-align: center;
  hr {
    opacity: 0.1;
    background: #003764;
  }
  span {
    color: #323338;
    text-align: center;
    font-family: $mainFont;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }
  .firstrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 48px;
    .imga {
      width: 102.989px;
      height: 70px;
    }
    .imgb {
      width: 160px;
      height: 31.36px;
    }
    .imgc {
      width: 88.073px;
      height: 80px;
    }
    .imgd {
      width: 160px;
      height: 53.333px;
    }
    .imge {
      width: 112.5px;
      height: 90px;
    }
    .imgf {
      width: 130px;
      height: 40.899px;
    }
  }
  .secondrow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-top: 54px;
    .imgg {
      width: 120px;
      height: 66.667px;
    }
    .imgh {
      width: 124px;
      height: 69px;
    }
    .imgi {
      width: 140px;
      height: 53.737px;
    }
    .imgj {
      width: 130px;
      height: 49.94px;
    }
    .imgk {
      width: 140px;
      height: 33.32px;
    }
    .imgl {
      width: 120px;
      height: 67.105px;
    }
  }
}

.numbers {
  // margin: 30px 0;
  margin-top: 52px;
  .headingPlaceHolder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  padding-bottom: 120px;
  .numbers-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 251, 251);
    padding: 30px 60px;
    border-radius: 30px;
    box-shadow: 0px 15px 30px 0px rgba(0, 55, 100, 0.06);
    .matter {
      max-width: 267px;
    }
    .innermatter {
      display: flex;
      justify-content: center;

      img {
        margin-left: 10px;
      }
    }
    .matter-desc {
      // max-width: 100px;

      p {
        text-align: center;
        margin: 0;
      }
    }
  }

  span {
    color: #323338;
    text-align: center;
    font-family: $mainFont;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }
}

// .frame3 {
//   // width: 1366 px;
//   .services {
//     height: auto;
//     // padding-bottom: 200px;
//     // // margin-bottom: 50px;
//     // padding-right: 200px;
//     // padding: 200px;
//     background: linear-gradient(
//         to bottom,
//         rgba(10, 83, 143, 0.7),
//         rgba(0, 44, 65, 0.7)
//       ),
//       url("../images/Rectangle\ 24.png");
//     background-size: cover;

//     h2 {
//       color: #fff;
//       padding-top: 70px;
//       padding-bottom: 20px;
//       text-align: center;
//       font-family: $mainFont;
//       font-size: 45px;
//       font-style: normal;
//       font-weight: 300;
//       line-height: normal;
//       text-transform: uppercase;
//       margin: 0;
//     }
//     .rows {
//       display: grid;
//       grid-template-columns: 33.3% 33.3% 33.3%;
//       gap: 50px;
//       // justify-content: space-around;
//       // margin:30px;
//       // padding: 50px;
//       //   height: 100px;
//       .service-desc {
//         position: relative;
//         // max-width: 340px;
//         // width: auto;
//         background-color: transparent;
//         color: white;
//         border-radius: 25px;
//         // margin: 30px;
//         font-size: 12px;
//         opacity: 0.8;
//         background: #010829;
//         padding: 40px;
//         box-shadow: 0px 2px 5px 0px rgba(0, 55, 100, 0.08);
//         min-height: 250px;
//         // height: 290px;
//         // overflow-x: hidden;
//         h3 {
//           text-align: center;
//           font-size: 22px;
//           font-weight: 300;
//           #bigtext {
//             height: 60px;
//           }
//         }
//         p {
//           text-align: center;
//           font-size: 14px;
//           font-weight: 100;
//         }
//         .learnmore {
//           display: flex;
//           align-items: center;
//           justify-content: center;
//         }
//       }
//     }
//   }
// }
// .mybutton {
//   display: none;
//   width: 140px;
//   height: 50px;
//   border-radius: 40px;
//   background-color: orange;
//   color: white;
//   border: none;
//   position: absolute;
//   bottom: -22px;
// }

// .service-desc:hover .mybutton {
//   display: block;
//   cursor: pointer;
// }
// .learnmore {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.servicebox {
  background-image: url(../images/Rectangle\ 24.png);
  background: linear-gradient(to bottom, rgba(10, 83, 143, 0.7), rgba(0, 44, 65, 0.7)), url("../images/Rectangle\ 24.png");
  // padding: 50px 0;
  background-size: cover;

  height: auto;
  // min-height: 940px;
  padding-bottom: 116px;
  // width: 100%;



  .simple h2 {
      color: #FFF;

      text-align: center;
      font-family: "Poppins";
      font-size: 45px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;

      color: #FFF;

      padding-top: 95px;
      padding-bottom: 27px;
      margin: 0;


  }

  .row1 {

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: 54px;





      .single {
          border-radius: 25px;
          opacity: 0.8;
          background: #010829;
          color: rgb(255, 255, 255);
          // padding: 33px;

          box-shadow: 0px 2px 5px 0px rgba(0, 55, 100, 0.08);
          font-size: 16px;
          // width: 360px;
          // height: 235px;
          margin: 0 auto;

          position: relative;

          // height: 288px;




          p {
              text-align: center;
              color: rgba(255, 255, 255, 0.80);
              text-align: center;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 27px;
              padding: 0 30px;
              margin-bottom: 40px;

          }

          h3 {
              text-align: center;
              color: #FFF;
              text-align: center;
              font-family: Poppins;
              font-size: 26px;
              font-style: normal;
              font-weight: 300;
              line-height: 36px;
              margin: 0;
              padding-top: 33px;
              // padding: 0 30px;
          }



          .learnmore {
              position: absolute;
              display: flex;
              justify-content: center;
              bottom: -17px;
              left: -15px;
              width: inherit;
              display: none;


              justify-content: center;
              align-items: center;
              gap: 10px;






              .mybutton {
                  // opacity: 0;
                  // position: absolute;
                  // background-color: orange;
                  // display: block;
                // bottom: 0;
                // left: 50%;
                // transform: translate(-50%, 50%);
                // margin: 0 auto; 
                // transition: all ease-in-out 0.5s;
                // visibility: hidden;

                  
                  background: linear-gradient(98deg, #FAA435 3.74%, #F68C42 93.14%);
                  height: 50px;
                  border-radius: 30px;
                  border: none;
                  padding: 0 20px;
                  color: rgb(255, 255, 255);
                  margin-left: 130px;
                  cursor: pointer;
                  color: #FFF;
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: normal;
                



              }

          }

          &:hover {
              .learnmore {
                  display: block;

              }
          }


      }

  }






}



#prosection {
  padding: 90px;
}

.frame4 div {
  
  background-image: url(../images/pngwing\ 1.png);
  height: auto;
  overflow: hidden;
  // width: 800px;
  //   background-size: cover;
  .pro-button button {
    // width: 140px;
    height: 50px;
    padding: 0 30px;
    border-radius: 40px;
    background: linear-gradient(98deg, #FAA435 3.74%, #F68C42 93.14%);


    color: white;
    border: none;
  }
 
  h2 {
    // margin-top: 50px;
    color: #2e3192;
    text-align: center;
    font-family: $mainFont;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px;
    margin-bottom: 0;
  }
  p {
    color: #1e1e1e;
    text-align: center;
    font-family: $mainFont;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
  }
}
#hideimg {
  display: none;
}
#biggerdiv {
  // height: 300px;
}
.cnt-dtls-div-main {
  background: linear-gradient(277deg, #0e131d -7.66%, #01123d 89.79%);
  // height: 600px; //last changed

  .contact-detls-div {
    // height: 597px !important;
    display: flex;
    // flex-wrap: wrap;
    
    justify-content: space-around;
    // padding-top: 100px;
    // padding-bottom: 150px;
    text-align: center;
    // column-gap: 60px;
    // align-items: center;
    // flex-shrink: 0;
    height: auto;

    .cntctdiv-child {
      width: 100%;
      // height: 300px;

      form {
        .big-input {
          width: 414px;
          height: 80px;
        }

        input {
          width: 414px;
          height: 45px;
          border-radius: 10px;
          border: 0px solid;
          margin: 5px;
          padding: 5px;
          padding-left: 20px;
        }

        // textarea {
        //     width: 300px;
        //     height: 80px;
        //     border-radius: 10px;
        // }

        button {
          color: #fff;
          background: linear-gradient(98deg, #faa435 3.74%, #f68c42 93.14%);
          text-align: center;
          border-radius: 30px;
          text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: capitalize;
          border: none;
          margin-left: 10px;
          margin-top: 10px;
          width: 414px;
          height: 55px;
          flex-shrink: 0;
        }
      }

      .gtn-tch {
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: 35px;
        /* 100% */
        margin-right: 90px;
        margin: 0;
        padding: 20px;
      }

      .child1-div {
        P {
          color: #fff;
          text-align: center;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 35px;
          /* 175% */
          color: #fff;
          padding-top: 80px;
        }

        .cntct-sub-div {
          display: flex;
          // flex-wrap: wrap;
          // height: 32px;
          // flex-shrink: 0;
          justify-content: center;
          // width: 100%;

          // img{
          //     padding-top: 10px;
          // }

          h2 {
            color: #fff;
            text-align: center;
            font-family: Poppins;
            font-size: 35px;
            font-style: normal;
            font-weight: 300;
            // margin-left: 5px;
            margin: 0;
            /* 157.143% */
          }
        }

        .cntct-sub-div2 {
          h2 {
            // margin-top: 30px;
            margin-top: 15px;
            color: #fff;
            text-align: center;
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 300;
            line-height: 35px;
            padding-bottom: 80px;

            /* 140% */
          }
        }
      }

      // .new-child {
      // display: flex;
      // justify-content: center;
      // width: 10px;

      // width: 1px;
      // height: 217px;
      // margin-top: 100px;

      // }

      .cntctdiv-child {
        // margin-top: 100px;
      }
    }
  }
}

// .getintouch {
//   .container{
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     .line{
//       width: 30px;
//       margin: 0 auto;
//     }
//   }
//   height: auto;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background: linear-gradient(277deg, #0e131d -7.66%, #01123d 89.79%);
//   .hideimg {
//     display: none;
//   }
//   .form {
//     // display: flex;
//     // flex-wrap: wrap;
//     // align-items: center;
//     // justify-content: center;
//     // max-width: 33.3%;
//     // height: auto;
//   }
//   .formbox {

//     margin-bottom: 30px;
//     h1 {
//       text-align: center;
//       color: white;
//     }
//     .submitbtn {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: center;
//       width: inherit;
//       button {
//         // width: 70%;
//         border-radius: 20px;
//         height: 40px;
//         border: none;
//         background-color: orange;
//         color: white;
//       }
//     }
//   }

//   .info,
//   .form {
//     height: auto;
//     width: 33.3%;
//     input {
//       margin: 10px;
//       border: none;
//       outline: none;
//       width: 414px;
//       border-radius: 20px;
//       padding: 8px;
//     }
//     button {
//       width: 70%;
//       margin-left: 30;
//     }
//     h3{
//       color: #fff;
//       text-align: center;
//       font-family: $mainFont;
//       font-size: 35px;
//       font-style: normal;
//       font-weight: 300;
//       line-height: 35px;
//     }
//     .mail {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       margin: 0 auto;
//     }
//     h2 {
//       color: #fff;
//       margin: 0;
//       text-align: center;
//       font-family: $mainFont;
//       font-size: 25px;
//       font-style: normal;
//       font-weight: 300;
//       line-height: 35px;
//     }
//     h4 {
//       color: #fff;
//       margin: 0;
//       text-align: center;
//       font-family: $mainFont;
//       font-size: 25px;
//       font-style: normal;
//       font-weight: 300;
//       line-height: 55px;
//     }
//     p {
//       color: #fff;
//       margin: 0;
//       text-align: center;
//       font-family: $mainFont;
//       font-size: 20px;
//       font-style: normal;
//       font-weight: 300;
//       line-height: 35px;
//     }
//     h4,
//     p,
//     h2 {
//       color: white;
//     }
//   }
// }

.footer1 {
  height: auto;
  // min-height: 300px;
  display: flex;
  // vertical-align: top;
  flex-wrap: wrap;
  padding: 80px;
  // align-items: center;
  justify-content: space-between;
  .footercontents {
    .hideimg {
      margin-top: 30px;
    }
    .blue-text {
      color: #2e3192;
    }
    li {
      color: #323338;

      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 45px;
    }
    a {
      color: #323338;
    }
  }
  .onlytwo {
    // align-items: start;
    vertical-align: top;
  }
}

.black {
  background: #1E1E1E;

  .footer2 {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1E1E1E;
    // height: 120px;
    .innerFooterDiv {
      display: flex;
      align-items: center;
      color: white;
      h6 {
        color: rgba(245, 242, 242, 0.8);

        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        margin-left: 10px;
      }
    }
    .credentials {
      span {
        opacity: 0.5;
        color: rgba(255, 255, 255, 0.8);
        font-size: 15px;
        font-weight: 400;
        line-height: 35px;
        .sitename {
          opacity: 0.5;
          color: skyblue;
        }
      }
    }
  }
}